<div
    class="flex flex-col flex-auto min-h-screen overflow-y-auto px-4 sm:px-6 lg:px-8"
>
    <div
        class="flex w-full py-8 sm:py-10 lg:py-16 items-start lg:items-center justify-center"
    >
        <!-- MOBILE: card estreito / DESKTOP: abre mais -->
        <div class="w-full max-w-md sm:max-w-lg lg:max-w-5xl mx-auto">
            <!-- Logo -->
            <div class="w-40 md:w-48 mx-auto sm:mx-0">
                <img src="assets/images/logo/logo.svg" />
            </div>

            <!-- Title -->
            <div
                class="mt-6 sm:mt-8 text-2xl sm:text-3xl md:text-4xl font-extrabold tracking-tight leading-tight text-center sm:text-left"
            >
                Cadastro
            </div>
            <div
                class="flex items-baseline mt-1 font-medium justify-center sm:justify-start text-sm sm:text-base"
            >
                <div>Já tem uma conta?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']"
                    >Logar
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-6 sm:mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>

            <!-- Sign Up form -->
            <form
                class="mt-6 sm:mt-8 space-y-6 pb-10"
                [formGroup]="signUpForm"
                #signUpNgForm="ngForm"
            >
                <!-- Email + Senha -->
                <div
                    class="space-y-4 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-6"
                >
                    <mat-form-field class="w-full">
                        <mat-label>Email</mat-label>
                        <input
                            id="email"
                            matInput
                            [formControlName]="'email'"
                        />
                        <mat-error
                            *ngIf="signUpForm.get('email').hasError('required')"
                        >
                            Email é obrigatório
                        </mat-error>
                        <mat-error
                            *ngIf="signUpForm.get('email').hasError('email')"
                        >
                            Por favor, insira um email válido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>Senha</mat-label>
                        <input
                            id="password"
                            matInput
                            type="password"
                            [formControlName]="'password'"
                            #passwordField
                        />
                        <button
                            mat-icon-button
                            type="button"
                            (click)="
                                passwordField.type === 'password'
                                    ? (passwordField.type = 'text')
                                    : (passwordField.type = 'password')
                            "
                            matSuffix
                        >
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"
                            ></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"
                            ></mat-icon>
                        </button>
                        <mat-error> Senha é obrigatório </mat-error>
                    </mat-form-field>
                </div>

                <!-- Pessoa -->
                <div
                    formGroupName="pessoa"
                    class="space-y-4 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-6"
                >
                    <mat-form-field
                        class="w-full lg:col-span-2"
                        appearance="fill"
                    >
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" />
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>CPF</mat-label>
                        <input
                            matInput
                            formControlName="cpf"
                            mask="000.000.000-00"
                            (blur)="validarCPF()"
                        />
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Telefone</mat-label>
                        <input
                            matInput
                            formControlName="telefone"
                            mask="(00) 00000-0000"
                        />
                    </mat-form-field>

                    <div
                        formGroupName="endereco"
                        class="space-y-4 lg:space-y-0 lg:grid lg:grid-cols-4 lg:gap-4 lg:col-span-2"
                    >
                        <mat-form-field
                            class="w-full lg:col-span-3"
                            appearance="fill"
                        >
                            <mat-label>Rua</mat-label>
                            <input matInput formControlName="rua" />
                        </mat-form-field>

                        <mat-form-field
                            class="w-full lg:col-span-1"
                            appearance="fill"
                        >
                            <mat-label>CEP</mat-label>
                            <input matInput formControlName="cep" />
                        </mat-form-field>

                        <mat-form-field
                            class="w-full lg:col-span-1"
                            appearance="fill"
                        >
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="estadoId">
                                <mat-option value="">
                                    Selecione um estado
                                </mat-option>
                                <mat-option
                                    *ngFor="let estado of estados"
                                    [value]="estado.id"
                                >
                                    {{ estado.nome }} ({{ estado.sigla }})
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field
                            class="w-full lg:col-span-3"
                            appearance="fill"
                        >
                            <mat-label>Cidade</mat-label>
                            <mat-select formControlName="cidade">
                                <mat-option value="">
                                    Selecione uma cidade
                                </mat-option>
                                <mat-option
                                    *ngFor="let cidade of cidades"
                                    [value]="cidade.nome"
                                >
                                    {{ cidade.nome }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="flex justify-end">
                    <button
                        class="fuse-mat-button-large w-full sm:w-auto mt-2 mb-2"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signUpForm.disabled"
                        (click)="signUp()"
                    >
                        <span *ngIf="!signUpForm.disabled"> Cadastrar </span>
                        <mat-progress-spinner
                            *ngIf="signUpForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
