<div
    class="flex flex-col sm:flex-row items-center md:justify-center sm:justify-center flex-auto min-w-0"
>
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
    >
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-80">
                <img src="assets/images/logo/logo.svg" />
            </div>

            <!-- Title -->
            <div
                class="mt-8 text-4xl font-extrabold tracking-tight leading-tight"
            >
                Cadastro
            </div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Já tem uma conta?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']"
                    >Logar
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>

            <!-- Sign Up form -->
            <form class="mt-8" [formGroup]="signUpForm" #signUpNgForm="ngForm">
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    <mat-error
                        *ngIf="signUpForm.get('email').hasError('required')"
                    >
                        Email é obrigatório
                    </mat-error>
                    <mat-error
                        *ngIf="signUpForm.get('email').hasError('email')"
                    >
                        Por favor, insira um email válido
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Senha</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                        ></mat-icon>
                    </button>
                    <mat-error> Password is required </mat-error>
                </mat-form-field>

                <!-- Pessoa -->
                <div formGroupName="pessoa">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" />
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>CPF</mat-label>
                        <input matInput formControlName="cpf" />
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Telefone</mat-label>
                        <input matInput formControlName="telefone" />
                    </mat-form-field>

                    <!-- Endereço -->
                    <div formGroupName="endereco">
                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>Rua</mat-label>
                            <input matInput formControlName="rua" />
                        </mat-form-field>

                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>CEP</mat-label>
                            <input matInput formControlName="cep" />
                        </mat-form-field>

                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>Estado</mat-label>
                            <input
                                matInput
                                type="number"
                                formControlName="estadoId"
                            />
                        </mat-form-field>

                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>Cidade</mat-label>
                            <input matInput formControlName="cidade" />
                        </mat-form-field>
                    </div>
                </div>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.disabled"
                    (click)="signUp()"
                >
                    <span *ngIf="!signUpForm.disabled"> Cadastrar </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>
