<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-3 md:p-4">
        <!-- Título -->
        <div
            class="flex items-center justify-between flex-wrap gap-4 w-full mb-6"
        >
            <h2 class="text-3xl font-semibold tracking-tight leading-8 m-0">
                Atendimentos
            </h2>
        </div>

        <!-- Busca e novo -->
        <div
            class="flex items-center justify-between w-full mb-6 gap-4 flex-wrap"
        >
            <div class="flex-grow">
                <input
                    class="bg-white border border-gray-300 rounded-md w-full p-3 shadow-sm"
                    matInput
                    autocomplete="off"
                    placeholder="Buscar por Paciente ou Profissional"
                    #searchField
                    (keyup)="filtrar(searchField.value)"
                />
            </div>
            <!-- <div>
                <button
                    mat-raised-button
                    color="primary"
                    [routerLink]="['novo']"
                >
                    Novo Atendimento
                </button>
            </div> -->
        </div>

        <!-- Tabela -->
        <div class="overflow-x-auto w-full">
            <table
                mat-table
                matSort
                [dataSource]="atendimentosDataSource"
                class="min-w-full table-auto shadow-md border rounded-md bg-white"
            >
                <!-- Paciente -->
                <ng-container matColumnDef="paciente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Paciente
                    </th>
                    <td mat-cell *matCellDef="let atendimento">
                        {{ atendimento.paciente.nome }}
                    </td>
                </ng-container>

                <!-- Profissional -->
                <ng-container matColumnDef="profissional">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Profissional
                    </th>
                    <td mat-cell *matCellDef="let atendimento">
                        {{ atendimento.usuario.pessoa.nome }}
                    </td>
                </ng-container>

                <!-- Tipo -->
                <ng-container matColumnDef="tipoAtendimento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Tipo
                    </th>
                    <td mat-cell *matCellDef="let atendimento">
                        {{ atendimento.tipoAtendimento }}
                    </td>
                </ng-container>

                <!-- Data -->
                <ng-container matColumnDef="dataAtendimento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data
                    </th>
                    <td mat-cell *matCellDef="let atendimento">
                        {{ atendimento.dataAtendimento | date : "short" }}
                    </td>
                </ng-container>

                <!-- Ações -->
                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef>Ações</th>
                    <td mat-cell *matCellDef="let atendimento">
                        <button
                            mat-flat-button
                            color="primary"
                            (click)="editarAtendimento(atendimento.id)"
                            [matTooltip]="'Editar atendimento'"
                        >
                            <mat-icon svgIcon="mat_outline:edit"></mat-icon>
                        </button>

                        <button
                            mat-flat-button
                            color="primary"
                            (click)="cadastrarAvaliacao(atendimento.id)"
                            [matTooltip]="'Realizar Avaliação'"
                        >
                            <mat-icon
                                svgIcon="heroicons_outline:document-text"
                            ></mat-icon>
                        </button>

                        <button
                            mat-flat-button
                            color="primary"
                            (click)="gerarRelatorio(atendimento.id)"
                            [matTooltip]="'Gerar Relatório'"
                        >
                            <mat-icon
                                svgIcon="heroicons_outline:presentation-chart-line"
                            ></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="atendimentosColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: atendimentosColumns"
                ></tr>
            </table>
        </div>

        <!-- Nenhum atendimento -->
        <div
            class="p-5 bg-white border border-t-0 border-l-0 border-r-0 border-b-1 w-full"
            *ngIf="!atendimentosDataSource?.data?.length"
        >
            <label>Nenhum atendimento encontrado.</label>
        </div>

        <!-- Paginador -->
        <mat-paginator
            class="w-full mt-6"
            [pageSizeOptions]="[10, 25, 50, 100]"
            showFirstLastButtons
            aria-label="Selecione a página"
        >
        </mat-paginator>
    </div>
</div>
